<h2>Заказы клиента прошедшей недели:</h2>
<ul>
    {% for order in orders_last_week %}
        <li>
            Заказ: {{ order }}
            <ul>
                {% for product in order.products.all %}
                    <li>
                        Продукт: {{ product.name }}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% empty %}
        <li>Заказов нет</li>
    {% endfor %}
</ul>

<h2>Заказы клиента прошлого месяца:</h2>
<ul>
    {% for order in orders_last_month %}
        <li>
            Заказ: {{ order }}
            <ul>
                {% for product in order.products.all %}
                    <li>
                        Продукт: {{ product.name }}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% empty %}
        <li>Заказов нет</li>
    {% endfor %}
</ul>

<h2>Заказы клиента в течение года:</h2>
<ul>
    {% for order in orders_last_year %}
        <li>
            Заказ: {{ order }}
            <ul>
                {% for product in order.products.all %}
                    <li>
                        Продукт: {{ product.name }}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% empty %}
        <li>Заказов нет</li>
    {% endfor %}
</ul>
